
<% if @request.query['first_name'] && !@request.query['first_name'].empty? %>
	<h1>Hello <%= @request.query['first_name'] %> !!</h1>
	<% fav_food = @request.query['fav_food']
		if fav_food != "bananas" %>
	<h2>Glad to hear your favorite food is <%= @request.query['fav_food'] %></h2>
	<% else %>
	<h2>It pains me to know that you enjoy bananas....</h2>
	<% end %>
<% else %>
	<h1> ENTER YO' NAME SON! </h1>
  <form method='post' action="<%= @request.path %>">
    First name: <input type="text" name="first_name" placeholder='first name'/><br />
    Your Favorite Food?
    <select name="fav_food">
    	<option value="cheese">Cheese</option>
    	<option value="sushi">Sushi</option>
    	<option value="bananas">Bananas</option>
    </select>
    <input type="submit" value="Submit" />
  </form>
<% end %>
<p>
  The time is now:
  <%= Time.now %>
</p>

<p>
  My Name is:
  <%= @name %>
</p>

